body {
  background-color: #584E56;
}

h1 {
  color: #fff;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .3rems;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

span {
  padding-right: 65px;
}

.spans {
  position: absolute;
  left: 100px;
}


/* keyframes prototype or example of how it should work using JS*/

.red, .green {
  transform-origin: 60% 60%;
  -webkit-animation: zoom 1s ease-in-out infinite alternate;
  animation: zoom 1s ease-in-out infinite alternate;
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.7, 0.7);
  }
}

.timeline {}

.below {
  position: absolute;
  bottom: 0;
}
