body {
  background-color: #584E56;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .3rems;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.red {
  /*stroke-dasharray: 50;
  stroke-dashoffset: 415;
  animation: draw-red 3s infinite;
  transform-origin: 50% 50%;*/
}


/*@keyframes draw-red {
  from {
    stroke-dashoffset: 415;
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}*/

.green {}

.timeline {}
